<div class="navbar-wrapper">
  <%= render 'shared/alert' %>
  <%= render 'shared/navbar' %>
</div>

<div class="show-list-page-wrapper">

  <%= render 'shared/sidebar-list', lists: @lists %>

  <div class="top-show">
    <div class="infos">
      <h1><%= @list.name %></h1>
      <p><%= @list.users.count %> alumnis</p>
    </div>

    <div class="links">
      <%= link_to 'Modifier', edit_admin_list_path(@list), class: 'empty-button' %>
      <%= link_to 'Supprimer', admin_list_path(@list), method: :delete, data: { confirm: "Etes vous sûr de vouloir supprimer cette liste ?"}, class: 'empty-button'  %>
      <%= link_to 'Envoyer un mail', email_list(@list), class: 'full-button' %>
    </div>
  </div>

  <% if @list.users.any? %>
    <ul>
      <% @list.users.order(:last_name).each_with_index do |user, index| %>
        <li>
          <%= render 'shared/user-card-list', user: user, index: index, checkbox: nil %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
