<div class="navbar-wrapper">
  <%= render 'shared/alert' %>
  <%= render 'shared/navbar' %>
</div>

<div class="show-list-page-wrapper">

  <%= render 'shared/sidebar-list', lists: @lists %>

  <h1><%= @list.name %></h1>
  <p><%= @list.users.count %> alumnis</p>

  <%= link_to 'Envoyer un mail', email_list(@list) %>



  <% if @list.users.any? %>
    <ul>
      <% @list.users.each_with_index do |user, index| %>
        <li>
          <%= render 'shared/user-card-list', user: user, index: index, checkbox: nil %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
