<div class="navbar-wrapper">
  <%= render 'shared/alert' %>
  <%= render 'shared/navbar' %>
</div>
<div class="main-wrapper">


  <div class="stats-wrapper">
    <h2>Plateforme</h2>
    <div class="stats-grid">

      <div class="stat-container">
        <p class="title">Nombre d’élèves inscrit sur la plateforme:</p>
        <p class="data-number"><%= @registered_user %></p>
      </div>

      <div class="stat-container">
        <p class="title">Nombre d’élèves inscrit ces dernières 24h:</p>
        <p class="data-number"><%= @last_day_registered_user %></p>
      </div>

      <div class="stat-container">
        <p class="title">Nombre de connexions ces dernières 24h:</p>
        <p class="data-number"><%= @visit_since_last_day %></p>
      </div>

      <div class="stat-container">
        <p class="title">Temps moyen que les utilisateurs passent sur la plateforme:</p>
        <p class="data-number"><%= @session_duration %> minutes</p>
      </div>

    </div>
  </div>


  <div class="stats-wrapper">
    <h2>Alumnis</h2>
    <div class="stats-grid alumnis-grid">

      <div class="stat-container container-a">
        <p class="title">Nombre d’élèves en recherche de stage/d’emploi:</p>
        <p class="data-number"><%= @users_looking_for_job %></p>
      </div>

      <div class="stat-container container-b">
        <p class="title">Nombre d’entreprise qui recrute:</p>
        <p class="data-number"><%= @hiring_companies %></p>
      </div>

      <div class="stat-container container-c">
        <p class="title">Dans quels secteur travaillent vos alumnis:</p>
        <ul class="ml-8">
          <% @top_sector.each do |value| %>
            <li>
              <%= render 'shared/stat-card', data: value[1], name: value[0] %>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="stat-container container-d">
        <p class="title">Dans quelles ville travaillent vos alumnis:</p>
        <ul class="ml-8">
          <% @top_city.each do |value| %>
            <li>
              <%= render 'shared/stat-card', data: value[1], name: value[0] %>
            </li>
          <% end %>
        </ul>
      </div>

    </div>
  </div>



</div>

