<div class="navbar-wrapper">
  <%= render 'shared/alert' %>
</div>
<div class="edit-school-experience">

  <h2>Modifier une formation</h2>

  <%= form_for @school_experience do |f| %>

    <%= f.text_field :title, placeholder: 'Titre', class: 'form-field' %>
    <%= f.text_field :start_time, placeholder: 'Date de début', class: 'form-field' %>
    <div class="online-fields">
    <%= f.text_field :end_time, placeholder: 'Date de fin', class: 'form-field' %>
    <div class="checkbox-online">
      <%= f.check_box :current %>
      <%= f.label :current, 'Ceci est ma formation actuelle' %>
    </div>
    </div>
    <%= f.fields_for :school, School.new do |school_attributes|%>
      <%= school_attributes.text_field :name, placeholder: "Nom de l'école", value: @school_experience.school.name , class: 'form-field' %>
    <% end %>

    <%= f.submit 'Valider les modifications', class: 'full-button' %>

  <% end %>

</div>
