
<div class="new-user-sector-wrapper">

    <div class="sector-wrapper">
      <div class="description">
        <h1>Mes secteurs d’activité</h1>
        <p>Ajoutez jusqu’à 5 secteurs d’activité pour que les employeurs puissent vous trouver facilement.</p>
        <p>Vous pourrez les modifier à tout moment dans votre profil.</p>
      </div>

      <div class="sector">
        <div class="sectors-index">

          <% if @user_sectors.any? %>
            <ul>
              <% @user_sectors.each do |sector| %>
                <li>
                  <%= render 'shared/user-sector-card', user_sector: sector %>
                </li>
              <% end %>
            </ul>
          <% end %>

          <% if @student.user_sectors.count >= 5 %>
            <p>Vous avez atteint le nombre maximum de secteurs.</p>
          <% else %>
            <%= render 'shared/user_sector-form', user_sector: @user_sector, sectors: @sectors %>
          <% end %>
          <%= @student.user_sectors.count %> /5
        </div>
      </div>

      <%= link_to 'Suivant', welcome_path, class: 'empty-button'  %>

      <%= link_to :back, class: 'back-button' do %>
        <i class="fas fa-arrow-left"></i>
        <p>Précédent</p>
      <% end %>


    </div>


</div>
