<div class="navbar-wrapper">
  <%= render 'shared/alert' %>
</div>
<div class="new-user-sector-wrapper">

<%= image_tag('logo-chartreux.png', class: 'logo-chartreux') %>

    <div class="registration-wrap">
      <div class="description">
        <h1>Mes secteurs d’activité</h1>
        <p>Ajoutez jusqu’à 5 secteurs d’activité correspondant à votre profession, vos études ou vos centres d'intérêt. Cela permettra aux employeurs de vous trouver facilement.</p>
        <p>Vous pourrez les modifier à tout moment dans votre profil.</p>
      </div>

      <div class="sector my-8">
        <div class="sectors-index list-inline">
          <% if @user_sectors.any? %>
            <ul>
              <% @user_sectors.each do |sector| %>
                <li>
                  <%= render 'shared/user-sector-card', user_sector: sector %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>

        <% if @student.user_sectors.count >= 5 %>
          <p>Vous avez atteint le nombre maximum de secteurs.</p>
        <% else %>
          <%= render 'shared/user_sector-form', user_sector: @user_sector, sectors: @sectors %>
        <% end %>

      </div>

      <div class="resistration-nav-wrap">
        <%= link_to tag_creation_tags_path, class: 'arrow-button' do %>
          <i class="fas fa-arrow-left"></i>
          <p>Précédent</p>
        <% end %>

        <%= link_to welcome_path, class: 'arrow-button' do %>
          <p>Suivant</p>
          <i class="fas fa-arrow-right"></i>
        <% end %>
      </div>



    </div>


</div>
