<div class="user-edit-wrapper">
  <div class="top">
    <div class="name-tags">
      <h1><%= @student.full_name %></h1>
    </div>
  </div>
  <div class="bottom">
    <div class="contact_details-sectors">


      <div class="contact-details-wrapper">
        <%= form_for @student do |f| %>
          <div class="button-notif">
            <%= f.submit "Valider" %>
          </div>
          <div class="contact-details">

            <%= f.text_field :linkedin_url, placeholder: 'URL Linkedin' %>

            <%= f.text_field :email, placeholder: 'Email'%>

            <%= f.text_field :phone_number, placeholder: 'Numéro de téléphone' %>

            <%= f.text_field :whatsapp_url, placeholder: 'Numéro whatsApp' %>

            <%= f.text_field :messenger_url, placeholder: 'URL Messenger'%>

            <%= f.text_field :instagram_url, placeholder: 'URL Instagram'%>

            <%= f.label "Je recherche un emploi / stage" %> <br />
            <%= f.check_box :looking_for_job %> <br />


            <%= f.label "Mon entreprise recrute" %> <br />
            <%= f.check_box :company_hire %> <br />
          </div>
        <% end %>
      </div>



    </div>
  </div>

</div>
