<div class="navbar-wrapper">
  <%= render 'shared/alert' %>
  <%= render 'shared/navbar' %>
</div>

<div class="index-users-page-wrapper main-wrapper">

  <h1>Les alumni</h1>

  <div class="search-form-wrapper">

    <div class="search-info">
      <h2><%= @students.try(:count) %> alumni</h2>

        <div class="search-count" id="situation-green">
          <i class="fas fa-exclamation-circle"></i>
          <p><%= @students.where(company_hire: true).count %> recrutent</p>
        </div>
        <div class="search-count" id="situation-orange">
          <i class="fas fa-exclamation-circle"></i>
          <p><%= @students.where(looking_for_internship: true).count %> recherche un stage</p>
        </div>
        <div class="search-count" id="situation-red">
          <i class="fas fa-exclamation-circle"></i>
          <p><%= @students.where(looking_for_job: true).count %> recherche un emploi</p>
        </div>
    </div>

    <div class="search-form">
      <%= form_tag users_path, method: :get do %>
        <div class="form-inline">
          <%= text_field_tag :name, params[:name], placeholder: 'Chercher par prénom, nom..', class: 'input large' %>

          <%= select_tag(:look_for, options_for_select([['Recrute', 1], ['Recherche un stage', 2], ['Recherche un emploie', 3]], params[:look_for]), {:prompt => 'Chercher par situation', :class => 'input'}) %>
        </div>

        <div class="form-inline">
          <%= select_tag(:diploma, options_from_collection_for_select(@diplomas, :id, :name, selected = params[:diploma]), {:prompt => 'Chercher par diplôme', :class => 'input'})%>

          <%= select_tag(:year, options_for_select(((Time.zone.now.year - 70)..(Time.zone.now.year + 5)).to_a.reverse, params[:year]), {:prompt => "Année d’obtention", :class => 'input'}) %>
        </div>
        <div class="form-inline">
          <%= select_tag(:sector, options_from_collection_for_select(@sectors, :id, :name, selected = params[:sector]), {:prompt => "Chercher par secteur d'activité", :class => 'input'})%>

          <%= submit_tag 'Valider mes filtres', class: 'full-button' %>
        </div>
      <% end %>
    </div>
  </div>



  <% if @students.any? %>
    <div class="grid">
      <% @students.each do |student| %>
        <%= render partial: "shared/student_card", locals: {student: student}  %>
      <% end %>
    </div>
  <% else %>
    <div class="nobody-found">
      <p>Aucun alumni ne correspond à votre recherche.</br>Vous pouvez essayer de rechercher dans les profils alumni non-inscrit à la plateforme.</p>
      <%= link_to 'Accèder aux profils non-inscrits', ghosts_path, class: 'empty-button'  %>
    </div>
  <% end %>


  <%= render 'shared/help-bubble' %>
</div>

