<%= render 'shared/navbar' %>

<div class="index-users-page-wrapper main-wrapper">

  <div class="index-users-form-wrapper">
    <div class="index-users-info">
      <h2><%= @students.try(:count) %> alumni</h2>

        <div class="students-count">
          <i class="fas fa-exclamation-circle"></i>
          <p><%= @students.where(company_hire: true).count %> recrutent</p>
        </div>
        <div class="students-count">
          <i class="fas fa-exclamation-circle"></i>
          <p><%= @students.where(looking_for_internship: true).count %> recherche un stage</p>
        </div>
        <div class="students-count">
          <i class="fas fa-exclamation-circle"></i>
          <p><%= @students.where(looking_for_job: true).count %> recherche un emploi</p>
        </div>



    </div>
    <div class="index-users-form">

      <%= form_tag users_path, method: :get do %>
        <%= text_field_tag :name, params[:name], placeholder: 'chercher par prénom, nom..' %>

        <%= select_tag(:look_for, options_for_select([['Recrute', 1], ['Recherche un stage', 2], ['Recherche un emploie', 3]], params[:look_for]), {:prompt => 'Chercher par situation'}) %>

        <%= select_tag(:diploma, options_from_collection_for_select(@diplomas, :id, :name), {:prompt => 'Chercher par diplôme'})%>

        <%= select_tag(:year, options_for_select(((Time.zone.now.year - 70)..(Time.zone.now.year + 5)).to_a.reverse), {:prompt => "Année d’obtention"}) %>

        <%= select_tag(:sector, options_from_collection_for_select(@sectors, :id, :name), {:prompt => "Chercher par secteur d'activité"})%>

        <%= submit_tag 'Valider' %>
      <% end %>

    </div>
  </div>

  <div class="index-users-wrapper">
    <% @students.each do |student| %>
      <%= render partial: "shared/student_card", locals: {student: student}  %>

    <% end %>
  </div>
</div>

