<div class="linkedin-wrapper">


  <div class="linkedin">
    <div class="description">
      <h1>LinkedIn</h1>
      <p>Nous utilisons LinkedIn pour récupérer vos expériences professionnelles et les ajouter à votre profil.<br>Si vous mettez à jour votre page LinkedIn, les informations apparaitront automatiquement ici.</p>
      <p>En renseignant votre URL LinkedIn, vous autorisez le réseau Chartreux Alumni à lire les données publiques de votre profil et, une fois renseigné, vous ne pourrez plus modifier l'URL.</p>
    </div>

    <%= form_tag submit_url_linkedin_path, role: 'url_linkedin', method: :get do |f| %>
      <%= text_field_tag :url, params[:url], placeholder: 'Coller l’URL de votre profile LinkedIn...', class: "form-field" %>

      <% if params[:url].blank? %>
        <%= button_tag "Suivant", id: 'linkedin-button', class: 'empty-button'%>
      <% else %>
        <%= button_tag "Suivant", class: 'empty-button' %>
      <% end %>
    <% end %>

    <%= link_to :back, class: 'back-button' do %>
      <i class="fas fa-arrow-left"></i>
      <p>Précédent</p>
    <% end %>
  </div>
</div>
