<div class="user-show-wrapper">
  <div class="user-description">
    <%= link_to edit_user_path(@student), class: 'edit-link' do %>
      <i class="far fa-edit"></i>
    <% end %>
    <div class="left">
      <% if @student.photo.attached? %>
        <%= cl_image_tag @student.photo.key %>
      <% else %>
        <%= image_tag "blank-avatar.png" %>
      <% end %>
      <div class="link">
        <% unless @student.linkedin_url.nil? %>
          <a href="<%= @student.linkedin_url%>" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        <% end %>
        <% unless @student.email.nil? %>
          <a href="mailto:<%= @student.email%>"><i class="far fa-envelope"></i></a>
        <% end %>
        <% unless @student.phone_number.nil? %>
          <a href="tel:<%= @student.phone_number%>"><i class="fas fa-phone"></i></a>
        <% end %>
        <% unless @student.whatsapp_url.nil? %>
          <a href="https://wa.me/+33<%= @student.whatsapp_url%>" target="_blank"><i class="fab fa-whatsapp"></i></a>
        <% end %>
      </div>
    </div>
    <div class="right">
      <div class="name-and-tags">
        <h1><%= @student.full_name %></h1>
      </div>
      <div class="sector">
        <h4>SECTEURS</h4>
      </div>
      <% if @student.looking_for_job? %>
        <div class="notification">
          <i class="fas fa-exclamation-circle"></i>
          <p>JE RECHERCHE UN EMPLOI / STAGE</p>
        </div>
      <% end %>
      <% if @student.company_hire? %>
        <div class="notification" id="green">
          <i class="fas fa-exclamation-circle"></i>
          <p>MON ENTREPRISE RECRUTE</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
