<div class="user-show-wrapper">
  <div class="user-description">
    <%= link_to edit_user_path(@student), class: 'edit-link' do %>
      <%= render 'shared/edit-icon' %>
    <% end %>
    <div class="left">
      <% if @student.photo.attached? %>
        <%= cl_image_tag @student.photo.key %>
      <% else %>
        <%= image_tag "blank-avatar.png" %>
      <% end %>
      <div class="link">
        <% unless @student.linkedin_url.nil? %>
          <a href="<%= @student.linkedin_url%>" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        <% end %>
        <% unless @student.email.nil? %>
          <a href="mailto:<%= @student.email%>"><i class="far fa-envelope"></i></a>
        <% end %>
        <% unless @student.phone_number.nil? %>
          <a href="tel:<%= @student.phone_number%>"><i class="fas fa-phone"></i></a>
        <% end %>
        <% unless @student.whatsapp_url.nil? %>
          <a href="https://wa.me/+33<%= @student.whatsapp_url%>" target="_blank"><i class="fab fa-whatsapp"></i></a>
        <% end %>
      </div>
    </div>
    <div class="right">
      <div class="name-and-tags">
        <h1><%= @student.full_name %></h1>
        <div class="tags-index-wrapper">
          <div class="tags-index">
            <% if @student.tags.any? %>
              <% @student.tags.each do |tag| %>
                <%= render 'shared/diploma-tag', tag: tag %>
              <% end %>
            <% else %>
              <p>Ajouter des tags</p>
            <% end %>
          </div>
          <%= render 'shared/edit-icon' %>
        </div>
      </div>
      <div class="sector">
        <div class="title">
          <h3>SECTEURS</h3>
          <%= render 'shared/edit-icon' %>
        </div>
        <% if @student.user_sectors.any? %>
          <ul>
            <% @student.user_sectors.each do |user_sector| %>
              <li>
                <%= user_sector.sector.try(:name) %>
              </li>
            <% end %>
          </ul>

        <% else %>
          <p>Ajouter des tags</p>
        <% end %>
      </div>
      <% if @student.looking_for_job? %>
        <div class="notification">
          <i class="fas fa-exclamation-circle"></i>
          <h4>JE RECHERCHE UN EMPLOI / STAGE</h4>

        </div>
      <% end %>
      <% if @student.company_hire? %>
        <div class="notification" id="green">
          <i class="fas fa-exclamation-circle"></i>
          <h4>MON ENTREPRISE RECRUTE</h4>

        </div>
      <% end %>
    </div>
  </div>
</div>
