<div class="company-card">
  <div class="company-card-logo">
    <% if company.photo.attached? %>
      <%= cl_image_tag company.photo.key %>
    <% else %>
      <%= image_tag "company.png", alt: "company-image" %>
    <% end %>
  </div>
  <div class="company-card-info">
    <h2><%= company.name %></h2>
    <h3><%= company.city %></h3>
    <p><%= pluralize company.users.count, 'alumni travaille ici', 'alumni travaillent ici' %></p>
  </div>
</div>
