<div class="company-card">
  <div class="company-card-logo">
    <% if company.photo.attached? %>
      <%= cl_image_tag company.photo.key %>
    <% else %>
      <%= image_tag "company.png", alt: "company-image" %>
    <% end %>
  </div>
  <div class="company-card-info">
    <h2><%= company.name %></h2>
    <h3><%= company.city %></h3>
    <div class="recruiting">
      <p><%= pluralize company.users.uniq.count, 'alumni travaille ici', 'alumni travaillent ici' %></p>
      <% if hiring?(company) %>
        <i class="fas fa-exclamation-circle situation" id="situation-green"></i>
      <% end %>
    </div>
  </div>
</div>
