<div class="experiences-wrapper">
  <div class="top">
    <h2>EXPERIENCES</h2>
    <%= link_to 'Créer nouvelle', new_work_experience_path, class: 'full-button'  %>
  </div>
  <div class="experiences-list">
    <% user.work_experiences.order(:end_time).reverse.each do |work_experience| %>
      <div class="experience">

        <%= link_to edit_work_experience_path(work_experience) do %>
          <i class="far fa-edit"></i>
        <% end %>

        <%= link_to work_experience_path(work_experience), method: :delete  do %>
          <i class="fas fa-trash"></i>
        <% end %>

        <div class="info">
          <h3><%= work_experience.title %></h3>
          <p><%= work_experience.company.name %> | <%= work_experience.location %></p>
          <p><%= work_experience.start_time %> - <%= work_experience.end_time %></p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="top">
    <h2>FORMATIONS</h2>
    <%= link_to 'Créer nouvelle', new_school_experience_path, class: 'full-button'  %>
  </div>
  <div class="experiences-list">
    <% user.school_experiences.order(:end_time).reverse.each do |school_experience| %>
      <div class="experience">

        <%= link_to edit_school_experience_path(school_experience) do %>
          <i class="far fa-edit"></i>
        <% end %>

        <%= link_to school_experience_path(school_experience), method: :delete  do %>
          <i class="fas fa-trash"></i>
        <% end %>

        <div class="info">
          <h3><%= school_experience.title %></h3>
          <p><%= school_experience.school.name %> | <%= school_experience.location %></p>
          <p><%= school_experience.start_time %> - <%= school_experience.end_time %></p>
        </div>
      </div>
    <% end %>
  </div>

</div>
