<div class="school-experience-card">
  <div class="icon">
    <%= image_tag('school.png') %>
  </div>
  <div class="description">
    <h3><%= school_experience.title %></h3>
    <ul>
      <li><h4><%= school_experience.school.name %></h4></li>
      <% if school_experience.location.present? %>
      <li><span class="line"></span></li>
      <li><h4><%= school_experience.location  %></h4></li>
      <% end %>
    </ul>
    <p><%= school_experience.start_time %> - <%= school_experience.end_time %></p>
  </div>
</div>
