<div class="work-school-experience-card">
  <div class="icon">
    <%= image_tag('school.png') %>
  </div>
  <div class="description">
    <p class="title"><%= school_experience.title %></p>
    <ul>
      <li><p class="establishment-name"><%= school_experience.school.name %></p></li>
      <% if school_experience.location.present? %>
      <li><span class="line"></span></li>
      <li><p class="establishment-location"><%= school_experience.location  %></p></li>
      <% end %>
    </ul>
    <p><%= school_experience.start_time %> - <%= school_experience.end_time %></p>
  </div>
</div>
