<div class="student-card">

  <% if student.photo.attached? %>
    <%= cl_image_tag student.photo.key %>
  <% else %>
    <%= image_tag "blank-avatar.png" %>
  <% end %>

  <div class="student-info">
    <h3><%= student.full_name %></h3>
    <div class="tags">
      <% if student.tags.any? %>
        <% student.tags.order(:year).each do |tag| %>
          <%= render 'shared/diploma-tag-small', tag: tag %>
        <% end %>
      <% end %>
    </div>

    <% if last_activity(student) %>
      <% if student.work_experiences.any? %>
        <div class="current_experience">
          <i class="fas fa-briefcase"></i>
          <p><%= student.work_experiences.order(:end_time).last.company.name %></p>
        </div>
      <% end %>
    <% else %>
      <% if student.school_experiences.any? %>
        <div class="current_experience">
          <i class="fas fa-graduation-cap"></i>
          <p><%= student.school_experiences.order(:end_time).last.school.name %></p>
        </div>
      <% end %>
    <% end %>

  </div>

  <%= link_to '', user_path(student), class: 'link' %>
</div>


