<div class="student-card">

  <% if student.photo.attached? %>
    <%= cl_image_tag student.photo.key %>
  <% else %>
    <%= image_tag "blank-avatar.png" %>
  <% end %>

  <div class="student-info">
    <h3><%= student.full_name %></h3>
    <div class="tags">
      <% if student.tags.any? %>
        <% student.tags.order(:year).each do |tag| %>
          <%= render 'shared/diploma-tag-small', tag: tag %>
        <% end %>
      <% end %>
    </div>

    <%= last_activity(student) %>

  </div>

  <%= link_to '', user_path(student), class: 'link' %>
</div>


