<div class="navbar-wrapper">
  <%= render 'shared/alert' %>
</div>
<div class="new-edit-experience shadow-div card-container">

  <h2>Modifier une expériences</h2>

  <%= form_for @work_experience do |f| %>
    <% if @work_experience.errors.any? %>
      <%= render 'shared/error-form-message', model_name: @work_experience  %>
    <% end %>
    <div class="field-wrap">
      <%= f.label :title, "Poste occupé" %>
      <%= f.text_field :title, placeholder: 'Titre du poste', class: 'form-field' %>
    </div>
    <div class="field-wrap">
        <%= f.label :start_time, "Date de début" %>
        <%= f.select :start_time, ((Time.zone.now.year - 70)..(Time.zone.now.year + 10)).to_a.reverse, :prompt => "Date de début", class: 'form-field' %>
    </div>
    <div class="online-fields">
      <div class="field-wrap">
        <%= f.label :end_time, "Date de fin" %>
        <%= f.select :end_time, ((Time.zone.now.year - 70)..(Time.zone.now.year + 10)).to_a.reverse, :prompt => "Date de fin", class: 'form-field' %>
      </div>
      <div class="checkbox-online">
        <%= f.check_box :current, id: 'current_exp' %>
        <%= f.label :current, 'Ceci est mon poste actuel' %>
      </div>
    </div>
    <%= f.fields_for :company, Company.new do |company_attributes|%>
      <div class="field-wrap" >
        <%= company_attributes.label :name, "Nom de l'entreprise" %>
        <%= company_attributes.text_field :name, value: @work_experience.company.name,  placeholder: "Nom de l'entreprise", class: 'form-field' %>
      </div>
    <% end %>
    <div class="field-wrap">
      <%= f.label :location, "Localisation" %>
      <%= f.text_field :location, placeholder: 'Localisation', class: 'form-field' %>
    </div>

    <%= f.submit 'Valider les modifications', class: 'full-button' %>
  <% end %>

</div>
