<div class="navbar-wrapper">
  <%= render 'shared/alert' %>
</div>
<div class="edit-work-experience">

  <h2>Modifier une expériences</h2>

  <%= form_for @work_experience do |f| %>

    <%= f.text_field :title, placeholder: 'Titre', class: 'form-field' %>
    <%= f.text_field :start_time, placeholder: 'Date de début', class: 'form-field' %>
    <div class="online-fields">
    <%= f.text_field :end_time, placeholder: 'Date de fin', id: 'end_date_exp', class: 'form-field' %>
    <div class="checkbox-online">
      <%= f.check_box :current, id: 'current_exp' %>
      <%= f.label :current, 'Ceci est mon poste actuelle' %>
    </div>
    </div>
    <%= f.fields_for :company, Company.new do |company_attributes|%>
        <%= company_attributes.text_field :name, value: @work_experience.company.name,  placeholder: "Nom de l'entreprise", class: 'form-field' %>
    <% end %>

    <%= f.submit 'Valider les modifications', class: 'full-button' %>

  <% end %>

</div>
