<div class="navbar-wrapper">
  <%= render 'shared/alert' %>
</div>
<div class="new-work-experience">


  <h2>Ajouter une expériences</h2>

  <%= form_for @work_experience do |f| %>
    <% @work_experience.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
   <% end %>
   <div class="field-wrap">
    <%= f.label :title, "Poste occupé" %>
    <%= f.text_field :title, placeholder: 'ex: Chef de Projet', class: 'form-field' %>
   </div>
   <div class="field-wrap">
    <%= f.label :start_time, "Date de début" %>
    <%= f.text_field :start_time, placeholder: 'ex: 2012', class: 'form-field' %>
   </div>
    <div class="online-fields">
      <div class="field-wrap">
        <%= f.label :end_time, "Date de fin" %>
        <%= f.text_field :end_time, placeholder: 'ex: 2017', id: 'end_date_exp', class: 'form-field' %>
      </div>
      <div class="checkbox-online">
        <%= f.check_box :current, id: 'current_exp' %>
        <%= f.label :current, 'Ceci est mon poste actuelle' %>
      </div>
    </div>

    <%= f.fields_for :company, Company.new do |company_attributes|%>
      <div class="field-wrap">
        <%= company_attributes.label :name, "Nom de l'entreprise" %>
        <%= company_attributes.text_field :name, placeholder: "ex: Apple", class: 'form-field' %>
      </div>
    <% end %>
    <div class="field-wrap">
      <%= f.label :location, "Localisation" %>
      <%= f.text_field :location, placeholder: 'ex: Paris', class: 'form-field' %>
    </div>

    <%= f.submit 'Ajouter', class: 'full-button' %>

  <% end %>

</div>
