<div class="navbar-wrapper">
  <%= render 'shared/alert' %>
</div>
<div class="linkedin-wrapper">

<%= image_tag('logo-chartreux.png', class: 'logo-chartreux') %>

  <div class="registration-wrap">
    <div class="description">
      <h1>LinkedIn</h1>
      <p>Nous utilisons LinkedIn pour récupérer vos expériences professionnelles et les ajouter à votre profil. Mettez à jour votre page LinkedIn et les informations apparaitront automatiquement ici.
        <br>Si vous n'avez pas de profil LinkedIn ou souhaitez l'ajouter plus tard, cliquez sur Suivant.</p>
      <p>En renseignant votre URL LinkedIn, vous autorisez le réseau Chartreux Alumni à lire les données publiques de votre profil et, une fois renseigné, vous ne pourrez plus modifier l'URL.</p>
    </div>

    <div class="my-8">
      <% if current_user.parsings.any? && current_user.parsings.last.on_sheet %>
        <p>Merci d'avoir rentré votre URL Linkedin ! Nous allons pouvoir mettre à jour vos informations automatiquement.</p>
      <% else %>
        <%= form_tag submit_url_linkedin_user_path(current_user), role: 'url_linkedin', method: :post do |f| %>
        <div class="online-fields">
          <%= text_field_tag :url, params[:url], placeholder: 'Coller l’URL de votre profile LinkedIn...', class: "form-field" %>
          <%= button_tag "Charger l'URL", class: 'full-button' %>
        </div>
        <% end %>
      <% end %>
    </div>

    <%= link_to tag_creation_tags_path, class: 'arrow-button float-right', id: 'linkedin-button' do %>
      <p>Suivant</p>
      <i class="fas fa-arrow-right"></i>
    <% end %>

  </div>
</div>
