<div class="navbar-wrapper">
  <%= render 'shared/alert' %>
  <%= render 'shared/navbar' %>
</div>
<div class="main-wrapper">
  <div class="company-wrapper shadow-div">
    <div class="company-photo">
      <% if @company.photo.attached? %>
        <%= cl_image_tag company.photo.key %>
      <% else %>
        <%= image_tag "company.png", alt: "company-image" %>
      <% end %>
    </div>
    <div class="company-info">
      <h1><%= @company.name %></h1>
      <p><%= @company.city %></p>
    </div>
  </div>


    <% if hiring?(@company) %>
      <div class="alumnis-group my-10">
        <h2 id="situation-green"><%= pluralize @hiring_user.count, 'alumni signale un recrutement, prennez contact !', 'alumni signalent un recrutement, contactez-les !' %></h2>
        <div class="grid">
          <% @hiring_user.each do |user| %>
            <%= render 'shared/student_card', student: user %>
          <% end %>
        </div>
      </div>
    <% end %>


    <% if @current_jobs.any? %>
      <div class="alumnis-group my-10">
        <h2 id="situation-orange"><%= pluralize @current_jobs.count, 'alumni travaille actuellement ici', 'alumni travaillent actuellement ici' %></h2>
          <div class="grid">
            <% @current_jobs.each do |job|%>
              <%= render 'shared/student_card', student: job.user %>
            <% end %>
          </div>
      </div>
    <% end %>

    <% if @former_jobs.any? %>
      <div class="alumnis-group my-10">
        <h2 id="situation-red"><%= pluralize @former_jobs.count, 'alumni travaillait anciennement ici', 'alumni travaillaient anciennement ici' %></h2>
          <div class="grid">
            <% @former_jobs.each do |job|%>
                <%= render 'shared/student_card', student: job.user %>
            <% end %>
          </div>
      </div>
    <% end %>

  <%= render 'shared/help-bubble' %>
</div>
