<div class="new-tag-wrapper">
  <%= image_tag('logo-chartreux.png') %>

  <div class="tag-wrapper">
    <h1>Mes formations aux Chartreux</h1>
    <p>Ajoutez les formations que vous avez effecutées aux Chartreux afin d’apparaitre dans les critères de recherches.</p>
    <p>Vous pourez les modifier à tout moment dans votre profil.</p>


      <div class="tags-index">
        <% if @student.tags.any? %>
          <% @student.tags.each do |tag| %>
            <%= render 'shared/diploma-tag', tag: tag %>
          <% end %>
        <% end %>
      </div>
      <%= form_for [@student, @tag] do |f| %>
        <div class="form-tags">
          <%= f.select :diploma_id, @diplomas.map { |d| [d.name, d.id] }, :prompt => "Sélectionner un diplôme..." %>
          <%= f.select :year, (Time.zone.now.year - 100)..(Time.zone.now.year + 1), :prompt => "Année d’obtention" %>
          <%= f.submit "Ajouter", class: 'empty-button'%>
        </div>
      <% end %>
  </div>
</div>
