<div class="navbar-wrapper">
  <%= render 'shared/alert' %>
  <%= render 'shared/navbar' %>
</div>
<div class="index-schools-page-wrapper main-wrapper">
  <h1><%= pluralize @schools.try(:count), 'école', 'écoles' %></h1>
  <div class="mb-8 max-w-lg">

    <%= form_tag schools_path, method: :get do %>
        <%= text_field_tag :name, params[:name], placeholder: "Chercher par nom d'école", class: 'form-field' %>

      <div class="online-fields">
        <%= select_tag(:city, options_for_select(school_list, params[:city]), {:prompt => 'Chercher par ville', :class => 'form-field'}) %>

        <%= submit_tag 'Valider mes filtres', class: 'full-button' %>

        <%= link_to 'Réinitialiser mes filtres', { controller: "schools", action: "index", name: '', city: '' }, { class: 'empty-button' } %>
      </div>
    <% end %>
  </div>

  <div class="grid">
    <% @schools.order(:name).each do |school| %>
      <%= render 'shared/school-card', school: school %>
    <% end %>
  </div>

  <%= render 'shared/help-bubble' %>
</div>
