<div class="form-message my-4">
  <%= form_for PopupMessage.new, remote: true do |f| %>
     <%= f.text_area :message, placeholder: 'Ecrivez votre message ici (maximum 400 caractères)', class: 'message-input', id: 'message-message-input' %>
     <%= f.text_field :link_title, placeholder: 'Titre du lien', class: 'message-input', id: 'message-link-title-input' %>
     <%= f.text_field :link, placeholder: 'URL du lien', class: 'message-input', id: 'message-link-input' %>
    <%= f.submit 'Ajouter', class: 'full-button mx-auto my-2' %>
  <% end %>
</div>
