<!DOCTYPE html>
<html>
  <head>
    <title>Alumni</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% unless current_page?(root_path) || current_page?(new_user_registration_path) || current_page?(linkedin_path) || current_page?(new_user_tag_path(current_user)) || current_page?(new_user_user_sector_path(current_user)) %>

      <div class="navbar">
        <div class="session-link">
          <% if user_signed_in? %>
            <%= link_to 'Se déconnecter', destroy_user_session_path, method: :delete %>
            <%= link_to user_path(current_user) do %>
              <% if current_user.photo.attached? %>
                <%= cl_image_tag current_user.photo.key %>
              <% else %>
                <%= image_tag "blank-avatar.png" %>
              <% end %>
            <% end %>

          <% else %>
            <%= link_to "S'enregistrer", new_user_registration_path %>
            <%= link_to "Se connecter", user_session_path %>
          <% end %>
        </div>
      </div>

    <% end %>



    <% flash.each do |key, message| %>
      <div class="alert alert-<%= key %>">
        <%= message %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
