<div class="form-wrapper">
  <div class="form">
    <h2>Inscription</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

        <div class="online-fields">
          <%= f.text_field :first_name, placeholder: 'Prénom', class: 'form-field' %>
          <%= f.text_field :last_name, placeholder: 'Nom', class: 'form-field' %>
        </div>

        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'form-field' %>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Mot de passe', class: 'form-field' %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Confirmation du mot de passe', class: 'form-field' %>

        <div class="linkedin-url">
          <%= f.text_field :linkedin_url, placeholder: 'URL Linkedin', class: 'form-field' %>
          <div class="linkedin-warning">
            <p>Veuillez saisir votre URL Linkedin afin que vos éxpériences se remplissent et se mettent à jour automatiquement.</p>
          </div>

        </div>

      <div class="actions">
        <%= f.submit "S'enregistrer", class: 'button-valid' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>

