<div class="sign-up-wrapper">

  <%= image_tag('logo-chartreux.png') %>

  <div class="sign-up-form-wrapper">
    <div class="sign-up-form">

    <h1>Inscription</h1>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
        <div class="online-fields">
          <%= f.text_field :first_name, placeholder: 'Prénom', class: 'form-field' %>
          <%= f.text_field :last_name, placeholder: 'Nom', class: 'form-field' %>
        </div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'form-field' %>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Mot de passe', class: 'form-field' %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Confirmation du mot de passe', class: 'form-field' %>
        <%= f.submit "Suivant", class: 'empty-button' %>
    <% end %>

      <%= link_to :back, class: 'back-button' do %>
        <i class="fas fa-arrow-left"></i>
        <p>Précédent</p>
      <% end %>



    </div>
  </div>

</div>


